.clients__list {
  @extend %reset-list;
  display: flex;
  flex-wrap: wrap;
    gap: 30px;
}


.clients__icon {
  fill: currentColor;
}

.clients__link {
  box-sizing: border-box;

  width: 210px;
  height: 92px;

  color: $svg-color;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid $svg-color;
  border-radius: 4px;

  transition: color $duration $cubic, border-color $duration $cubic;

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }

  & {
    @media screen and (min-width: 768px) {
      width: 226px;
    }
  }

    & {
      @media screen and (min-width: 1200px) {
        width: 170px;
      }
    }
}
