.features {
 & {
  @media screen and (min-width: 1200px) {
    padding-bottom: 0;
  }
 }

  &__subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $main-text-color;

    margin-bottom: 10px;

    & {
      @media screen and (max-width: 767px) {
        text-align: center;
      }
    }
  }

  &__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
    width: 450px;

    & {
        @media screen and (min-width: 768px) {
          width: 354px;
        }
      }
    
      & {
        @media screen and (min-width: 1200px) {
          width: 270px;
        }
      }
  }

  &__list {
    @extend %reset-list;
    display: block;
    padding: 0;
   

    & {
      @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        gap: $ident;
      }
    }
  }

  &__item {
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    & {
      @media screen and (max-width: 768px) {
        margin-bottom: 30px;
      }
    }
  }

  &__icon {
    fill: currentColor;
  }

  &__border {
    width: 450px;
    height: 120px;
    background: $features-menu-border-bckg;
    border-radius: 4px;
    margin-bottom: $ident;
    display: flex;
    align-items: center;
    justify-content: center;

    & {
        @media screen and (min-width: 768px) {
          width: 354px;
        }
      }

    & {
      @media screen and (min-width: 1200px) {
        width: 270px;
      }
    }
  }
}
