

  .work__list {
    display: flex;
    gap: $ident;
  }

    .work__item {
    position: relative;
    width: 370px;
  }

    .work__desc {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $white-color;

    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;

    bottom: 0;
    left: 0;

    background-color: $work-desc-bckg;

    position: absolute;
  }

