.page-header {
  border-bottom: 1px solid $header-border-bottom-color;
  padding: 0;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.page-header {
  @media screen and (max-width: 767px) {
    height: 60px;
  }
  @media screen and (min-width: 768px) {
    height: 80px;
    justify-content: space-between;
  }
}

.page-header__button {
  margin-left: 0;
  border: none;
  background-color: transparent;
  padding: 0;

  transition: color $duration $cubic;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.page-header__icon {
  fill: currentColor;
}

.page-header__button {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

// переместить кнопку
