.portfolio__subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $main-text-color;

  margin-top: 0;
  margin-bottom: 4px;
}

.portfolio__desc {
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  color: $secondary-text-color;

  margin: 0;
}

.portfolio__list {
  @extend %reset-list;

  display: flex;
  box-sizing: border-box;
  padding-left: 0;

  flex-wrap: wrap;

  gap: 30px;
  justify-content: center;
  align-content: center;

  & {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      justify-content: space-between;
    }
  }
}

.portfolio__item {
  background: $white-color;

  transition: box-shadow $duration $cubic;

  display: flex;
  flex-wrap: wrap;

  & {
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 30px) / 2);
    }
  }

  & {
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 30px) / 3);
    }
  }
}

.portfolio__text {
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
  flex-grow: 1;
}

.portfolio__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;

  &:hover,
  &:focus {
    box-shadow: $portfolio-shadow;
  }

  & {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      height: 100%;
    }
  }
}

.overlay {
  position: relative;
  overflow: hidden;

  &__box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform $duration $cubic;
  }

  &__desc {
    color: $white-color;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    padding: 77px 24px;

    & {
      @media screen and (min-width: 768px) {
        padding: 49px 24px;
      }
    }

    & {
      @media screen and (min-width: 1200px) {
        padding: 63px 24px;
      }
    }
  }
}

.portfolio__link:hover .overlay__box {
  transform: translateY(0);
}
