.mobile-header {
  display: flex;
  align-items: center;

  border-bottom: 1px solid $header-border-bottom-color;
}

.mobile-header {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-header__button {
  margin-left: auto;
  border: none;
  background-color: $white-color;
  padding: 0;

  transition: color $duration $cubic;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.mobile-header__icon {
  fill: currentColor;
}
