.footer {
  background-color: $bckg-color-hero-footer;
  padding: 60px 0;
  display: block;

  & {
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__content {
    display: block;
   justify-content: center;

    & {
      @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
        justify-content: flex-end;
      }
    }
  }
}

.footer__address {
  margin-bottom: 60px;
  

  & {
      @media screen and (min-width: 768px) {
        margin-right: 165px;
      }
    }

  & {
    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
      margin-right: 70px;
    }
  }

  & {
    @media screen and (min-width: 480px) and (max-width: 1199px) {
      text-align: center;
    }
  }

 

}

.footer__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $white-color;

  margin-top: 0;
  margin-bottom: 20px;

  & {
    @media screen and (min-width: 480px) and (max-width: 1199px) {
      text-align: center;
    }
  }
}

.footer__block {
  display: flex;
  flex-wrap: wrap;
  margin-left: 124px;

  & {
    @media screen and (min-width: 768px)  {
     margin-left: 76px;
      align-items: baseline;
    }
  }

    & {
      @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
        align-items: baseline;
      }
    }
}

.footer-logo {
  color: $white-color;
  font-family: $font-logo;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}

/* Адресс и контакты */

.address {
  margin-top: 20px;
 

  & {
      @media screen and (min-width: 1200px) {
      width: 231px;
      }
    }
}

.address__list {
  @extend %reset-list;
}

.address__item {
  margin-bottom: 9px;

  &:last-child {
    margin-bottom: 0;
  }
}

.address__link {
  color: $white-color;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  &--contacts {
    color: $footer-contacts-placeholder-color;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    transition: color $duration $cubic;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
